@model IEnumerable<TheatreApp.WEB.Models.OrderViewModel>

    @{
        ViewBag.Title = "MyTickets";
    }

    <h2>My tickets</h2>

    <table class="table">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TicketName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketGenre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bought)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.TicketName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketGenre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bought)
        </td>
        <td>
            @Html.ActionLink("Buy", "EditOrder", new { id = item.Id })
        </td>

    </tr>
        }

    </table>


